* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: didot;

}

header {
    width: 100%;
    background-color: #999b84;

}

header img {
    height: 100px;

}

.home {
    position: relative;
    width: 100%;
    text-align: center;

}

.home h2 {
    font-size: 12px;

}

.home img {
    height: 40rem;

}

/* ===== vi har sat vores position til absolute på centered for at kunne ligge teksten
ovenpå billedet ===== */

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* ===== About ===== */

.about {
    background-color: #f4eeed;
    display: block;
    text-align: center;
    margin-top: -5px;
}

.about img {
    height: 300px;
    border-radius: 50%;

}

.about h2 {
    color: #ddb7ab;
    margin: 2rem;
}

.about p {
    margin: 0 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}


/* ===== Project ===== */ 

.projects {
    color: #000;
    margin: 2rem;
}

.projects h2 {
    color: #999b84;
    margin: 1rem;
    text-align: center;
}

.projects {
    margin-bottom: 1rem;
}

.projects img {
    width: 100%;
    height: 200px;
}


.project-content {
    display: flex;
    flex-direction: column;
}



.rumrejsen p {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.rumrejsen a {
    margin: 1rem;
    padding-bottom: 1rem;
}



.linedance p {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.linedance a {
    margin: 1rem;
    padding-bottom: 1rem;
}

.callmehandy {
   
}

.callmehandy p {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.callmehandy a {
    margin: 1rem;
    padding-bottom: 1rem;
}

/* ===== photography ===== */

.photography {
    background-color: #f4eeed;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.photography h2 {
    color: #ddb7ab;
    margin: 2rem;

}


.photo-content img {
    width: 40%;
    height: 150px;

}

.some img {
    width: 81%;
}

.some {
    margin-bottom: 1rem;
}

.contact h2 {
    color: #999b84;
    margin: 1rem;
    text-align: center;

}

.contact h3 {
    color: #999b84;
    margin: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.contact p {
    color: #999b84;
    margin-left: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

footer {
    margin-top: 2rem;
    background-color: #999b84;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.footer-flex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer a {
    color: #ffffff;
    font-size: 12px;

}

footer p {
    color: #ffffff;
    justify-content: center;
}

/* for at få nav-bar til at forsvinde på mobilstøørelse */
@media screen and (max-width: 767px) {

    nav {
        display: none;
    }
    
}

/* så kodning også virker på desktop ved at style på det */
@media screen and (min-width: 768px) {


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-right: 1rem;

}


    .home img {
        width: 100%;
        height: 650px;
    }

    .about h2 {
        font-size: 3rem;

    }

    .about p {
        font-size: 20px;
    }
    .about img {
        height: 400px;
    }

    .project-content {
        display: flex;
        gap: 1rem;
    }

    .projects h2 {
        font-size: 3rem;

    }

    .projects img {
        width: 100%;
        height: 50%;

    }

    .projects-content p {
        padding: 1rem;
    }

    .photography {
        justify-content: center;
        font-size: 2rem;
    }

    .photo-content {
        align-items: center;
        grid-gap: .5rem;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .photo-content img {
        width: 100%;
    }

    /* jeg inddeler hvert element i et grid, hvor jeg tilegner hvert element en plads i grid*/
    .some {
        width: 80%;
        margin-top: .5rem;
        margin-left: 10%;
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        'ex1 ex1 ex2 ex2'
        'ex1 ex1 ex3 ex3'
        ;
    }

    .some-box1 {
        grid-area: ex1;
        width: 100%;
        height: 100%;
    
    }

    .some-box2 {
        grid-area: ex2;
        width: 100%;
        height: 100%;
    
    }
    .some-box3 {
        grid-area: ex3;
        width: 100%;
        height: 100%;
    
    }

    /* alternativt kunne man ha' lavet div'er med baggrundsbilleder, for bedre at kunne placere dem i grittet, uden at de skalerer mærkeligt */
    .some img {
        width: 100%;
    }

    .footer-flex {
        width: 50%;
        margin-bottom: .5rem;
    }

}